In [2]:
from trackml.dataset import load_event

import pandas as pd
import plotly.plotly as py
import plotly.figure_factory as ff
import plotly.graph_objs as go
import numpy as np
import random
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plot
import math
from collections import Counter

In [4]:
hits, cells, particles, truth = load_event('train_100_events/event000001000')

p_id = particles["particle_id"]

ptrain_df, ptest_test, y_train, y_test = train_test_split(particles, p_id, test_size=0.3)



display(len(ptrain_df))
display(len(particles))
# import subprocess
# p = subprocess.Popen(["ls", "datasets/test"], stdout=subprocess.PIPE)
# p.communicate()

def show_ten(thing):
    display(thing.describe())
    display(thing.head())

8584

12263

In [5]:
show_ten(hits)

,hit_id,x,y,z,volume_id,layer_id,module_id
count,120939.00000,120939.000000,120939.000000,120939.000000,120939.000000,120939.000000,120939.000000
mean,60470.00000,-1.769457,4.751043,-2.314452,10.921564,5.918389,371.969117
std,34912.22644,305.714539,305.173279,1061.935303,3.365705,3.407428,529.032206
min,1.00000,-1024.839966,-1025.109985,-2955.500000,7.000000,2.000000,1.000000
25%,30235.50000,-100.146000,-95.896503,-655.799988,8.000000,4.000000,60.000000
50%,60470.00000,-1.651340,1.005920,-1.800000,9.000000,6.000000,119.000000
75%,90704.50000,97.267651,103.224003,655.799988,13.000000,8.000000,490.000000
max,120939.00000,1025.329956,1024.849976,2955.500000,18.000000,14.000000,3192.000000

   hit_id          x         y       z  volume_id  layer_id  module_id
0       1 -64.409897 -7.163700 -1502.5          7         2          1
1       2 -55.336102  0.635342 -1502.5          7         2          1
2       3 -83.830498 -1.143010 -1502.5          7         2          1
3       4 -96.109100 -8.241030 -1502.5          7         2          1
4       5 -62.673599 -9.371200 -1502.5          7         2          1

In [6]:
show_ten(cells)

              hit_id            ch0            ch1         value
count  664996.000000  664996.000000  664996.000000  6.649960e+05
mean    49603.957174     211.529248     444.395715  3.560307e-01
std     32415.296519     156.399517     411.081790  4.322301e-01
min         1.000000       0.000000       0.000000  1.461840e-07
25%     25174.000000      97.000000      55.000000  5.364857e-02
50%     36148.000000     191.000000     340.000000  6.512935e-02
75%     78196.000000     287.000000     802.000000  1.000000e+00
max    120939.000000    1195.000000    1279.000000  1.000000e+00

   hit_id  ch0  ch1     value
0       1  209  617  0.013832
1       1  210  617  0.079887
2       1  209  618  0.211723
3       2   68  446  0.334087
4       3   58  954  0.034005

In [7]:
show_ten(particles)

,particle_id,vx,vy,vz,px,py,pz,q,nhits
count,1.226300e+04,12263.000000,12263.000000,12263.000000,12263.000000,12263.000000,12263.000000,12263.000000,12263.000000
mean,4.803273e+17,1.107619,0.767672,7.498722,-0.003691,0.000103,0.100067,0.107233,8.424121
std,2.983347e+17,124.100189,124.626076,537.843567,0.930212,0.640032,7.765715,0.994274,5.033464
min,4.503668e+15,-955.513977,-901.664978,-2955.500000,-45.300701,-16.516300,-95.573402,-1.000000,0.000000
25%,2.161771e+17,-0.017552,-0.013040,-5.444660,-0.215898,-0.208301,-0.815998,-1.000000,4.000000
50%,4.548682e+17,0.000457,0.002574,-0.438758,-0.005679,0.006612,0.001188,1.000000,10.000000
75%,7.431018e+17,0.014919,0.013532,6.016730,0.203908,0.215444,0.848551,1.000000,12.000000
max,9.683079e+17,968.200012,980.807007,2950.000000,53.201599,11.169400,459.528015,1.000000,19.000000

,particle_id,vx,vy,vz,px,py,pz,q,nhits
0,4503668346847232,-0.009288,0.009861,-0.077879,-0.055269,0.323272,-0.203492,-1,8
1,4503737066323968,-0.009288,0.009861,-0.077879,-0.948125,0.470892,2.010060,1,11
2,4503805785800704,-0.009288,0.009861,-0.077879,-0.886484,0.105749,0.683881,-1,0
3,4503874505277440,-0.009288,0.009861,-0.077879,0.257539,-0.676718,0.991616,1,12
4,4503943224754176,-0.009288,0.009861,-0.077879,16.439400,-15.548900,-39.824902,1,3

In [8]:
show_ten(truth)

,hit_id,particle_id,tx,ty,tz,tpx,tpy,tpz,weight
count,120939.00000,1.209390e+05,120939.000000,120939.000000,120939.000000,120939.000000,120939.000000,120939.000000,120939.000000
mean,60470.00000,4.103431e+17,-1.767847,4.754207,-2.309751,-528.415039,437.339355,-17.295870,0.000008
std,34912.22644,3.231682e+17,305.709686,305.167542,1061.935425,188079.062500,189807.906250,272778.718750,0.000008
min,1.00000,0.000000e+00,-1024.839966,-1025.099976,-2955.500000,-999841.000000,-999861.000000,-1000000.000000,0.000000
25%,30235.50000,1.035873e+17,-100.141998,-95.873302,-654.862000,-0.329628,-0.309520,-2.038540,0.000004
50%,60470.00000,3.648081e+17,-1.651420,1.012140,-1.759190,-0.006623,0.006257,-0.007396,0.000007
75%,90704.50000,7.115699e+17,97.251553,103.222000,655.110504,0.308269,0.329654,2.038135,0.000011
max,120939.00000,9.683079e+17,1025.349976,1024.849976,2955.500000,999910.000000,999798.000000,1000000.000000,0.000165

,hit_id,particle_id,tx,ty,tz,tpx,tpy,tpz,weight
0,1,0,-64.411598,-7.164120,-1502.5,250710.000000,-149908.000000,-956385.00000,0.000000
1,2,22525763437723648,-55.338501,0.630805,-1502.5,-0.570605,0.028390,-15.49220,0.000010
2,3,0,-83.828003,-1.145580,-1502.5,626295.000000,-169767.000000,-760877.00000,0.000000
3,4,297237712845406208,-96.122902,-8.230360,-1502.5,-0.225235,-0.050968,-3.70232,0.000008
4,5,418835796137607168,-62.659401,-9.375040,-1502.5,-0.281806,-0.023487,-6.57318,0.000009

In [9]:
def match_particle(hit):
    particle_id = truth.loc[truth["hit_id"]==hit]["particle_id"].iloc[0]
    mass = truth.loc[truth["hit_id"]==hit]["weight"].iloc[0]
    particle = particles.loc[particles["particle_id"] == particle_id]
    return (particle, mass)
    truth.loc[ truth["columnanme"] == "some values"]
match_particle(6)

(             particle_id        vx        vy       vz        px       py  \
 1604  108087696726949888  0.010383 -0.012398  3.92894 -0.392669 -0.07547

            pz  q  nhits
 1604 -10.4714  1     11  , 8.13311e-06)

In [10]:
def unpacker(value):
    #This step is crucial
    list_val = list(value)
    if len(list_val) < 1:
        return 0
    else:
        return list_val[0]

In [40]:
# goose = pd.DataFrame([["one", "two"], ["two", "Three"]], columns=["one", "Two"])
# display(goose)

# duck = pd.DataFrame([["duck", "tuck"], ["muck", "luck"]], columns=["ruckus", "muckus"])
# display(duck)

# birds = [goose, duck]

# fritters = pd.concat(birds)
# display(fritters)

###
#section_parts_df(df, x_min = False, x_max=False, y_min=False, x_max=False, z_min=False, z_max=False ):
#    for index in range(0, len(df)):
        
###
print(len(hits))
def build_display_df(num_particles = None):
    if num_particles == None:
        num_particles = len(hits)

    p_cols = ["x", "y", "z", "q", "m", "v"]
    p_list = [] 

    max_m = 0
    min_m = 999999999
    
    for row in range(0, num_particles):
        particle_tuple = match_particle(hits.iloc[row]["hit_id"])
        particle = particle_tuple[0]
        m = particle_tuple[1]*1000000

        q = unpacker(particle["q"])

#         vx = unpacker(particle["vx"])
#         vy = unpacker(particle["vy"])
#         vz = unpacker(particle["vz"])
#         v = math.sqrt(math.pow(vx,2)+math.pow(vy,2)+math.pow(vz,2))

        px = unpacker(particle["px"])
        p_y = unpacker(particle["py"])
        pz = unpacker(particle["pz"])
        p = math.sqrt(math.pow(px,2)+math.pow(p_y,2)+math.pow(pz,2))

        # p = mv
        # tanh scale for visualization
        
#         if v > 0:
#             m = p/v
#         else:
#             m = 0

#         if m > max_m:
#             max_m = m
#         if m < min_m:
#             min_m = m
        row = [hits.iloc[row]["x"], hits.iloc[row]["y"], hits.iloc[row]["z"], q, m, p]
        p_list.append(row)
        
    return pd.DataFrame(p_list, columns=p_cols)

120939

In [43]:
p_df = build_display_df()

In [44]:
p_df.describe()

,x,y,z,q,m,v
count,120939.000000,120939.000000,120939.000000,120939.000000,120939.000000,120939.000000
mean,-1.769455,4.751040,-2.315079,0.059096,8.268631,3.270030
std,305.715117,305.173087,1061.912453,0.922337,7.859436,7.408107
min,-1024.839966,-1025.109985,-2955.500000,-1.000000,0.000000,0.000000
25%,-100.146000,-95.896503,-655.799988,-1.000000,3.889350,0.372203
50%,-1.651340,1.005920,-1.800000,0.000000,6.785670,1.162478
75%,97.267651,103.224003,655.799988,1.000000,10.682050,3.630624
max,1025.329956,1024.849976,2955.500000,1.000000,165.446996,461.760823

In [45]:
def save_df_csv(df, name):
    df.to_csv('./datasets/'+name+".csv")

#save_df_csv(p_df, "mass")    
#save_df_csv(p_df, "tanhx20")

In [14]:

def open_csv_df(name):
    pd.read_csv('./datasets/'+name+'.csv')

In [15]:
# display(max_m)
# display(min_m)

In [16]:
def plot_hist(column, labels):
    print("{} unique values".format(len(column)))
    fig = ff.create_distplot(column, labels)
    display(py.iplot(fig, filename='histogram'+str(labels)))

In [17]:
def charge_plot(x,y,z,q):
    trace = go.Scatter3d(
    x=y, # for orientation with pyplot visualization
    y=z,
    z=x,
    mode='markers',
    marker=dict(
            size=2,
            color=q,   # set color 
            colorscale='Viridis',   #colorscale
            opacity=0.2
        )
    )
    layout = go.Layout(showlegend=True)
    fig = go.Figure(data=[trace], layout=layout)
    py.iplot(fig, filename='hits'+q)

In [18]:
def scatter3d_color(x, y, z, c, t):
    
    print("{} unique values".format({len(x), len(y), len(z)}))
    matrace = go.Scatter3d(
            x=x,
            y=y,
            z=z,
            mode='markers',
            marker=dict(
                    size=2,
                    color=c,   # set color to an array/list of desired values
                    colorscale='Viridis',   # choose a colorscale
                    opacity=0.2
        )
    )
    layout = go.Layout(showlegend=True)
    fig = go.Figure(data=[matrace], layout=layout)
    display(type(py))
    display(py.iplot(fig, filename='hits'+t))

In [19]:
def scatter3d_color_size(x, y, z, c, s, t):
    print("{} unique values".format({len(x), len(y), len(z)}))
    matrace = go.Scatter3d(
            x=x,
            y=y,
            z=z,
            mode='markers',
            marker=dict(
                    size=s,
                    color=c,   # set color to an array/list of desired values
                    colorscale='Viridis',   # choose a colorscale
                    opacity=0.2
        )
    )
    layout = go.Layout(showlegend=True)
    fig = go.Figure(data=[matrace], layout=layout)
    
    display(type(py))
    display(py.iplot(fig, filename='hits'+t))

In [20]:
def scatter3d(x, y, z, t):
    
    print("{} unique values".format({len(x), len(y), len(z)}))
    matrace = go.Scatter3d(
            x=x,
            y=y,
            z=z,
            mode='markers',
            marker=dict(
                    size=2,
        #             color=particles["q"],   # set color to an array/list of desired values
                    colorscale='Viridis',   # choose a colorscale
                    opacity=0.2
        )
    )
    layout = go.Layout(showlegend=True)
    fig = go.Figure(data=[matrace], layout=layout)
    display(py.iplot(fig, filename='hits'+t))

In [46]:
scatter3d_color_size(p_df['y'], p_df['z'], p_df['x'], p_df['q'], p_df['m'], "Position, Charge, and Tanh Mass")

{120939} unique values

module

/anaconda3/lib/python3.6/site-packages/plotly/plotly/plotly.py:224: UserWarning:

Woah there! Look at all those points! Due to browser limitations, the Plotly SVG drawing functions have a hard time graphing more than 500k data points for line charts, or 40k points for other types of charts. Here are some suggestions:
(1) Use the `plotly.graph_objs.Scattergl` trace object to generate a WebGl graph.
(2) Trying using the image API to return an image instead of a graph URL
(3) Use matplotlib
(4) See if you can create your visualization with fewer data points

If the visualization you're using aggregates points (e.g., box plot, histogram, etc.) you can disregard this warning.

The draw time for this plot will be slow for all clients.

/anaconda3/lib/python3.6/site-packages/plotly/api/v1/clientresp.py:40: UserWarning:

Estimated Draw Time Too Long

In [ ]:
#scatter3d_color( hits["y"], hits["z"], hits["x"],)
# Constrain Y
y_max = -943
y_min = -1375



#scatter3d_color_size(p_df['y'], p_df['z'], p_df['x'], p_df['q'], p_df['m'], "Position, Charge, and different Mass")

In [ ]:
scatter3d_color(ptrain_df["vx"], ptrain_df["vy"], ptrain_df["vz"],ptrain_df["q"],"velocity")

In [ ]:
display(ptrain_df.head())

In [ ]:
scatter3d_color(ptrain_df["px"],ptrain_df["py"],ptrain_df["pz"],ptrain_df["q"], "momentum_and_charge"  )

In [ ]:

plot_hist([ptrain_df["px"], ptrain_df["py"], ptrain_df["pz"]], ["px", "py", "pz"])

In [ ]:

plot_hist([ptrain_df["vx"], ptrain_df["vy"], ptrain_df["vz"]], ["vx", "vy", "vz"])

In [ ]:
plot_hist([particles["vz"]], ["vz"])

In [ ]:
plot_hist([])